.layout {
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}


.subContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px; /* Adjust the gap as needed */
  color: white;
  background-color: #ED514A;
}

.subContainer > div {
  flex: 1;
  text-align: center;
}

.subContainer > div > div {
  margin: 10px 0; /* Adjust the margin as needed */
}

.header {
  font-weight: bold;
}


.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--zIndexTopbar);
}

.desktopTopbarLandingPage {
  background-color: transparent;
}

.desktopTopbar,
.desktopTopbarLandingPageWithScroll {
  background-color: white;
}

.main {
  display: grid;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*WHATSAPPICON*/
.customClass {
  position: fixed; /* Fixed positioning relative to the viewport */
  bottom: 80px;    /* Distance from the bottom of the viewport */
  right: 5px;     /* Distance from the right side of the viewport */
  height: 50px;    /* Height of the icon */
  width: 80px;     /* Width of the icon */
  color: #012FA7;  /* Color of the icon or text */
  cursor: pointer; /* Pointer cursor on hover */
  z-index: 1000;   /* High z-index to ensure it's on top of other content */
  flex-direction: row; /* Align children in a row */
  margin: 2px;
}

@media screen and (max-width: 768px) {
/*WHATSAPPICON*/
.customClass {
  position: fixed; /* Fixed positioning relative to the viewport */
  bottom: 10px;    /* Distance from the bottom of the viewport */
  right: 5px;     /* Distance from the right side of the viewport */
  height: 50px;    /* Height of the icon */
  width: 80px;     /* Width of the icon */
  color: #012FA7;  /* Color of the icon or text */
  cursor: pointer; /* Pointer cursor on hover */
  z-index: 1000;   /* High z-index to ensure it's on top of other content */
  flex-direction: row; /* Align children in a row */
  margin: 2px;
}


.subContainer {
  flex-direction: row; /* Stack items vertically */
  align-items: center;
  justify-content: center;
}
}
