.custom-newsletter-section {
  background-color: transparent !important;
  padding: 40px 0;
}

.custom-newsletter-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0;
}

.custom-newsletter-form input:focus {
  outline: none;
  box-shadow: inset 0 4px 6px -4px rgba(1, 47, 167, 0.5); /* inner top shadow */
}


.newsletter-left {
  width: 100%;
  max-width: 400px;
}

.newsletter-right {
  display: none; /* Hides the right section on desktop if not needed */
}

.newsletter-heading {
    margin-top: 20px;
  margin-bottom: 20px;
}

.newsletter-subheading {
  font-size: 1rem;
  margin-bottom: 30px;
}

.custom-newsletter-form .form-field {
  margin-bottom: 20px;
}

.custom-newsletter-form p {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
}

.custom-newsletter-form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #cdd2d9;
  border-radius: 6px;
  font-size: 1rem;
}

.newsletter-submit {
  background-color: #012fa7;
  color: white;
  padding: 14px 24px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

/*
.newsletter-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.newsletter-right img {
  max-width: 100%;
  height: auto;
}
*/

@media (max-width: 768px) {

}
