.highlight-zone {
  position: absolute;
  top: 7rem;
  height: 3rem;
  width: 100%;
  pointer-events: none;
  z-index: 10;
}

.enjoy-scroller-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 400px;
}

.enjoy-button {
  background-color: #012fa7;
  color: white;
  padding: 1.2rem 3rem; /* Bigger height & width */
  border-radius: 0.6rem; /* Slightly more rounded */
  margin-top: 2.5rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem; /* = 20px */
  font-weight: 700; /* Stronger bold */
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.enjoy-button:hover {
  background-color: #0039e6;
  transform: scale(1.05);
}

.enjoy-button:hover {
  background-color: #0039e6;
  transform: scale(1.03);
}

.enjoy-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.enjoy-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  height: 3rem !important;
}

.word-scroller {
  height: 17.5rem;
  overflow: hidden;
  position: relative;
 mask-image: linear-gradient(to bottom, transparent, black 30%, black 70%, transparent);

  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
}

.word-list {
  display: flex;
  flex-direction: column;
  animation: scroll-loop 10s linear infinite;
}

.word {
  height: 3.5rem;
  font-size: 3.5rem;
  margin-left: 5px;
  color: black;
  font-weight: 600;
  opacity: 0.1;
}

.word {
  transition:  transform 3s ease-in-out;
  color: black;
}

.word.active {
  opacity: 1;
  transform: scale(1.05);
}

@keyframes scroll-loop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-17.5rem);
  }
}
