.product-location-map {
  width: 100%;
  margin: 0 auto;
  padding: 5rem;
  box-sizing: border-box;
}

#map {
  width: 100%;
  height: 400px;
  min-height: 100px;
  border-radius: 12px;
  overflow: hidden;
  box-sizing: border-box;
}

.custom-infowindow {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.4;
  padding: 6px;
  color: #333;
}

.custom-infowindow strong {
  font-size: 13px;
}

.custom-infowindow small {
  color: #666;
}


.address-details {
  margin-top: 10px;
}
