@import '../../styles/customMediaQueries.css';

.landingBarContainer {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: 500px;
  background-color: #FFF;
  background-size: cover;
  padding: 20px; 
}

.introText {
  font-weight: bold;
  height:auto;
  margin-bottom: 20px; 
  font-size: 30px; 
  color: #333; 
}
.introText2 {
  font-weight: lighter;
  height:auto;
  margin-bottom: 20px; 
  font-size: 30px; 
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px; 
  background: #f9f9f9; 
  padding: 20px;
  border-radius: 8px; 
  width: auto; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.time .DateRangePicker {
  display: grid;
  font-family: var(--fontFamily);
  grid-template-columns: 1fr 1fr;
  gap: 8px; 
}

.time .DateInput {
  margin-right: 8px; 
}

input, select, .DateRangePicker {
  height: 58px; 
  border: 1px solid #ccc; 
}

.button {
  width: 100%; 
  padding: 10px 0; 
  background-color: #012FA7;
  color: white; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 16px; 
}

.button:hover {
  background-color: #012FA7; 
}

.searchIcon {
  stroke: var(--colorWhite);
  fill: #fff; 
  background-color: #012FA7;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .form {
    background: none; 
    box-shadow: none;
  }

  .fieldSearch {
    color: #9e9d9d !important;
    border-radius: 20px;
  }

  .button{
    border-radius: 20px;
  }

  .dateWrapper{
    border-radius: 20px; /* Adjust as needed */
    border: 1px solid #dbdbdb; 
  }
}

@media (max-width: 768px) { 

  .dateWrapper{
    border-radius: 20px; /* Adjust as needed */
    border: 1px solid #dbdbdb; 
  }


  .landingBarContainer, .bar {
    margin-left: 10px; 
    margin-right: 10px;
    background: none; 
  }

  .form {
    background: none; 
    box-shadow: none; 

  }
  .bar {
    box-shadow: none; 
  }

  .time .DateRangePicker {
    border-radius: 20px;
  }
  
  .time .DateInput {
    border-radius: 20px;
  }
  
  .bar, .bar form {
    flex-direction: column;
  }

  .joy, .time, .location, .button {
    width: 100%; 
    margin-top: 10px; 
    border-radius: 20px; 
    box-shadow: none;
  }
  .joy:first-child {
    margin-top: 0;
  }
  .fieldSearch {
    border-radius: 20px; 
    background: #FFF; 
    color: #9e9d9d !important;
    border: 1px solid #ccc; 
  }
  .datePicker {
    border-radius: 20px; 
  }
  .button {
    padding: 10px 0; 
  }

}

@media (--viewportLarge) {
  .form {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
    gap: unset;
    background-color: transparent;
    box-shadow: unset;
    & > * {
      border-radius: unset;
      box-shadow: unset;
    }
  }

  .button {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 30px;
    top: 30px;
  }

  .fieldSearch {
    flex: 1 0 33.33%;
    height: 60px;
    font-size: 20px;
    font-family: var(--fontFamily);
    color: #9e9d9d !important;

    &:first-child {
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      min-width: 180px;
      border-right: 1px solid var(--matterColor);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding-left: 20px;
    }

    &:nth-child(3) {
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      min-width: 180px;
      border-left: 0;
    }
  }
}