@import '../../styles/customMediaQueries.css';


.dropdown {
  position: relative; /* This makes sure that the dropdownContent positions itself relative to this container */
}

/* Adjust the checkbox size and margin */
.dropdownLabel input[type="checkbox"] {
  transform: scale(0.6); /* Further reduce the checkbox size; adjust scale as needed */
  margin-right: 8px; /* Ensure consistent spacing between checkbox and label */
  vertical-align: middle; /* Aligns the checkbox vertically to the middle of the text */
}

/* Update label styling for consistent alignment and spacing */
.dropdownLabel {
  width:auto;
  display: flex; /* Use flexbox layout for better alignment control */
  align-items: center; /* Align items in the center vertically for consistent vertical alignment */
  padding: 5px 20px; /* Adjust padding for closer spacing; change as needed for your design */
}

/* Ensure content is in a column and aligned properly */
.dropdownContent {
  position: absolute;
  display: flex; /* Add flex display to dropdown content */
  flex-direction: column; /* Stack items vertically in a column */
  align-items: flex-start; /* Align items to the start (left) ensuring checkboxes are aligned in a column */
  z-index: 1000;
  left: 50px; /* Align to the left edge of the dropdownWrapper */
  top: 80px; /* Position below the button */
  width:20%;
  background: white;
  border: 1px solid #ccc; /* Optional: adds a border */
  box-shadow: 0 8px 16px rgba(0,0,0,0.1); /* Optional: adds shadow for depth */
  padding: 10px 0; /* Adds some padding inside the dropdown */
}

.landingBarContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center; 
  height: 500px;
  background-color: #FFF;
  background-size: cover;
  padding-left: 40px; 
  padding-top: 20px;
  padding-bottom: 20px;
 
}
.introText {
  font-weight: bold;
  height:auto;
  margin-bottom: 20px; 
  font-size: 30px; 
  color: #333; 
}

.dateWrapper {
  border-radius: 20px;
  height: 40px;
}


.introText2 {
  font-weight: lighter;
  height:auto;
  margin-bottom: 20px; 
  font-size: 30px; 
  color: #333;
}

.introText, .introText2 {
  margin-left: 150px; 
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px; 
  background: #f9f9f9; 
  padding: 20px;
  border-radius: 8px; 
  width: auto; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.time .DateRangePicker {
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 8px; 
}

.time .DateInput {
  margin-right: 8px; 
}

input, select, .DateRangePicker {
  height: 46px;
  margin-bottom: 2px;
}

.button {
  width: 100%; 
  padding: 12px 0; 
  background-color: #012FA7;
  color: white; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 20px; 
}

.button:hover {
  background-color: #012FA7; 
}

.searchIcon {
  stroke: var(--colorWhite);
  fill: #fff; 
  background-color: #012FA7;
}

.closeButton {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 15px;
  padding: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: gray;
  transition: color 0.3s; 
}

.fieldSearch {
  /* other styles ... */
  overflow: hidden; /* Ensure the overflow is hidden */
  white-space: nowrap; /* Keep the text on a single line */
  text-overflow: ellipsis; /* Add ellipsis when the text overflows */
}
.closeButton:hover {
  color:#012FA7; 
}
@media (min-width: 1025px) and (max-width: 1459px) {
  .dropdownContent {
    position: absolute;
    display: flex; /* Add flex display to dropdown content */
    flex-direction: column; /* Stack items vertically in a column */
    align-items: flex-start; /* Align items to the start (left) ensuring checkboxes are aligned in a column */
    z-index: 1000;
    left: 40px; /* Align to the left edge of the dropdownWrapper */
    top: 80px; /* Position below the button */
    width:25%;
    background: white;
    border: 1px solid #ccc; /* Optional: adds a border */
    box-shadow: 0 8px 16px rgba(0,0,0,0.1); /* Optional: adds shadow for depth */
    padding: 20px 0; /* Adds some padding inside the dropdown */;
  }

  .introText, .introText2 {
    margin-left: 30px; 
  }
  .closeButton{
    margin-top: 10px;
    font-size: small;
  }
  .form {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 800px;
    gap: unset;
    background-color: transparent;
    box-shadow: unset;
    & > * {
      border-radius: unset;
      box-shadow: unset;
    }
  }
  .button {
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute; 
    right: -10px; 
    top: 50%; 
    font-size: 15px;
    transform: translateY(-50%); 
    padding: 10px 20px; 
    background-color: #012FA7; 
    color: white; 
    border: none; 
    border-radius: 40px !important;
    height: 60px;
    max-width: 70px;
    width: 100px;
    padding: 20px;
    cursor: pointer; 
  }

  .fieldSearch {
    flex: 1 0 33.33%;
    height: 60px;
    font-size: 15px;
    width: 140px;
    font-weight: lighter;
    font-family: var(--fontFamily);
    color: #b0b0b5 !important;
    border: 1px solid #ccc;
    

    &:first-child {
      -webkit-appearance: none;
      -moz-appearance: none;
      min-width: auto;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      appearance: none;
      border: 1px solid #ccc;
    }
    &:nth-child(2) {
      min-width: auto;
      border:none;
      border: 1px solid #ccc;
    }
    &:nth-child(3) {
      border: 1px solid #ccc;
      min-width: auto;
      border-left: 0;
      border-right: none;
    }
  }
  .landingBarContainer .fieldSearch {
    width: 400px; /* Sets the width of input fields when part of the landing bar container */
  }
}

@media (min-width: 1460px) {

  .form {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 800px;
    gap: unset;
    background-color: transparent;
    box-shadow: unset;
    & > * {
      border-radius: unset;
      box-shadow: unset;
    }
  }
  .dropdownContent {
    width: 25%
  }

  .barContainer{
    margin-left: 110px;
  }

  .button {
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute; 
    right: -35px; 
    top: 50%; 
    transform: translateY(-50%); 
    padding: 10px 20px; 
    background-color: #012FA7; 
    color: white; 
    border: none; 
    border-radius: 40px !important;
    height: 60px;
    max-width: 100px;
    width: 100px;
    padding: 20px;
    cursor: pointer; 
  }

  .fieldSearch {
    flex: 1 0 33.33%;
    height: 60px;
    font-size: 20px;
    width: 500px;
    font-weight: lighter;
    font-family: var(--fontFamily);
    color: #b0b0b5 !important;
    border: 1px solid #ccc;
    

    &:first-child {
      -webkit-appearance: none;
      -moz-appearance: none;
      min-width: auto;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      appearance: none;
      border: 1px solid #ccc;
    }
    &:nth-child(2) {
      min-width: auto;
      border:none;
      border: 1px solid #ccc;
    }
    &:nth-child(3) {
      border: 1px solid #ccc;
      min-width: auto;
      border-left: 0;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .landingBarContainer {
    margin-top: 60px;
    align-items: center;
    margin-bottom: 60px;
    text-align: center;
    height: auto;
    padding:0px;
    padding-left: 0px; 
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  .landingBarContainer {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    height: auto
  }

  .introText {
    font-weight: bold;
    height:auto;
    margin-top: 40px; 
    font-size: 30px; 
    color: #333; 
  }

  .dateWrapper{
    border-radius: 20px; /* Adjust as needed */
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .form {
    background: none; 
    box-shadow: none;
    margin: 0px;
  }

  .time .DateRangePicker {
    border-radius: 20px;
  }

  .joy, .time, .location, .button, .dateWrapper, .fieldSearch {
    width: 768px; 
    height: 60px;
    margin-top: 20px; 
    border-radius: 20px; 
  }
  
  .joy:first-child {
    margin-top: 0;
  }

  .fieldSearch {
    border-radius: 20px; 
    background: #FFF; 
    color: #b0b0b5 !important;
    border: 1px solid #ccc; 
    width: 768px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: 300;
    font-size: medium;
  }

  .button {
    padding: 10px 0; 
    height: 60px;
  }

  .introText, .introText2 {
    margin-left: 0px; 
  }
  
  .dropdownContent {
    top: 175px; /* Adjusts the position on smaller screens */
    width: 700px;
    left: 80px;
  }
  
}

@media (max-width: 768px) { 
  .landingBarContainer {
    margin-top: 60px;
    align-items: center;
    margin-bottom: 60px;
    text-align: center;
    height: auto;
    padding:0px;
    padding-left: 0px; 
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .introText {
    font-weight: bold;
    height:auto;
    margin-top: 40px; 
    font-size: 30px; 
    color: #333; 
  }
  
  .dateWrapper{
    border-radius: 20px; 
  }

  .form {
    background: none; 
    box-shadow: none; 
    padding: 20px; 
    width: 90vw;
    box-sizing: border-box;
    margin-left: 0px;
  }

  .introText, .introText2 {
    margin-left: 0px; 
  }
  

  .time .DateRangePicker {
    border-radius: 20px;
  }
  
  .joy, .time, .location, .button, .dateWrapper, .fieldSearch {
    width: 100%; 
    height: 60px;
    margin-top: 10px; 
    border-radius: 20px; 
  }
  .joy:first-child {
    margin-top: 0;
  }
  .fieldSearch {
    box-sizing: border-box;
    height: 60px;
    margin-top: 10px;
    border-radius: 20px;
    background: #FFF;
    color: #b0b0b5 !important;
    border: 1px solid #ccc;
    font-weight: 300;
    font-size: medium;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

  .button {
    padding: 10px 0; 
    height: 60px;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.5);
  }

  .dropdownContent {
    top: 155px; /* Adjusts the position on smaller screens */
    width: 300px;
    left: 40px;
  }
}
